@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800|Roboto&display=swap');

/* Font Weights */ 
$font-weights: (
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800
);
@function weight($weight-num) {
  @return map-get($font-weights, $weight-num)
};

/* Colors */ 
$colors: (
  primary: #ffffff,
  btn-one: #061e37,
  btn-two: #1de9b6,
  text: #b0bec5
);
@function color($color-name) {
  @return map-get($colors, $color-name)
};

/* Adaptive */
// Desktop
$desktop-first-mark: 1370px;
$desktop-second-mark: 1250px;
$desktop-third-mark: 1200px;
$desktop-fourth-mark: 1100px;

@mixin desktop-first {
  @media (max-width: #{$desktop-first-mark}) {
    @content;
  }
}
@mixin desktop-second {
  @media (max-width: #{$desktop-second-mark}) {
    @content;
  }
}
@mixin desktop-third {
  @media (max-width: #{$desktop-third-mark}) {
    @content;
  }
}
@mixin desktop-fourth {
  @media (max-width: #{$desktop-fourth-mark}) {
    @content;
  }
}

// Tablet
$tablet-first-mark: 950px;
$tablet-second-mark: 850px;
$tablet-third-mark: 800px;
$customer-num-mark: 740px;

@mixin tablet-first {
  @media (max-width: #{$tablet-first-mark}) {
    @content;
  }
}
@mixin tablet-second {
  @media (max-width: #{$tablet-second-mark}) {
    @content;
  }
}
@mixin tablet-third {
  @media (max-width: #{$tablet-third-mark}) {
    @content;
  }
}
@mixin customer-mark {
  @media (max-width: #{$customer-num-mark}) {
    @content;
  }
}

// Mobile
$mobile-first-mark: 720px;
$mobile-second-mark: 550px;
$mobile-third-mark: 500px;
$mobile-fourth-mark: 415px;
$mobile-fifth-mark: 360px;

@mixin mobile-first {
  @media (max-width: #{$mobile-first-mark}) {
    @content;
  }
}
@mixin mobile-second {
  @media (max-width: #{$mobile-second-mark}) {
    @content;
  }
}
@mixin mobile-third {
  @media (max-width: #{$mobile-third-mark}) {
    @content;
  }
}
@mixin mobile-fourth {
  @media (max-width: #{$mobile-fourth-mark}) {
    @content;
  }
}
@mixin mobile-fifth {
  @media (max-width: #{$mobile-fifth-mark}) {
    @content;
  }
}

/* Global styles
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}

*::before, *::after {
  box-sizing: border-box;
}

*::selection {
  background-color: #000;
  color: #fff;
}

html, 
body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: сolor(text);
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
}

body {
  background: color(primary);
  min-height: 100%;
}

body *::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: transparent;
}

body *::-webkit-scrollbar-thumb {
  width: 3px;
  height: 3px;
  background: #615c60;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

input,
textarea,
button,
select {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: сolor(text);
  font-weight: weight(medium);
  line-height: 30px;
  border-radius: 5px;
  background: none;
}

::placeholder {
  color: color(btn-one);
}

button {
  cursor: pointer;
  transition: .3s;
}

h3 {
  font-size: 45px;
  font-weight: weight(semi-bold);
  line-height: 45px;
  color: color(btn-one);
  padding: 93px 0 17px;

  @include desktop-fourth {
    padding: 45px 0 8px;
  }

  @include mobile-second {
    font-size: 2em;
    padding: 15px 0 0;
  }
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: color(primary);
}

.page {
  width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}

.reduced-page {
  width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}

.block-intro {
  width: 558px;
  max-width: 100%;
  padding: 15px 0 86px;
  margin: 0 auto;

  @include desktop-fourth {
    padding: 10px 0 43px;
  }

  @include tablet-third {
    padding: 10px 0 6px;
  }

  @include mobile-second {
    padding: 0;
  }
}

/* Header
-----------------------------*/
.nav-media-block {
  background: url(../images/main-bg.jpg) center center / cover no-repeat;
  padding-bottom: 187px;

  @include desktop-third {
    padding-bottom: 100px;
  }

  @include tablet-first {
    padding-bottom: 50px;
  }

  @include mobile-second {
    padding-bottom: 25px;
  }
}

header {
  .page {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    justify-content: space-between;

    @include mobile-first {
      align-items: center;
      padding-top: 10px;
    }     
    
    .logo {
      display: flex;
      align-items: center;
      
      img {
        flex-shrink: 0;

        @include tablet-first {
          margin-bottom: 10px;
        }

        @include mobile-first {
          margin-bottom: 0;
        } 
      }

      .logo-name {
        line-height: 15px;
        margin-left: 10px;
        
        div + div {
          font-weight: weight(extra-bold);
        }
      }
    }

    .sign-up-wrap {
      display: flex;

      .hide-desktop {
        display: none;
      }

      .show-mobile {
        @include mobile-first {
          display: flex;
          margin-left: 10px;
        }
      }

       // sing-up btn
      .sign-up {
        font-size: 12px;
        text-transform: lowercase;
        border: 1px solid color(primary);
        border-radius: 3px;
        padding: 2px 18px;

        @include mobile-fifth {
          padding: 0 9px;
        }
      }

      .sign-up:hover {
        color: color(btn-one);
        border-color: color(btn-one);
      }
    }

    #nav.hide-mobile {
      @include mobile-first {
        display: none;
      } 
    }

    #nav {
      @include mobile-first {
        display: block;
        position: fixed;
        width: 40%;
        top: 0;
        right: 0;
        text-align: left;
        background: #24292c;
        height: 100%;
        z-index: 7;
        padding-top: 3em;
      } 

      a {
        @include mobile-first {
          display: block;
          color: white;
          text-decoration: none;
          width: 100%;
          padding: 1em 2em;
          background-color: #31373b;
        }
      }

      a:hover {
        @include mobile-first {
          background-color: #41494e;
        }
      }
    }
  }
}

/* Navigation
-----------------------------*/
nav {
  display: flex;

  .hide-desktop {
    display: none;
  }

  a {
    display: flex;
    font-size: 15px;
    font-weight: weight(semi-bold);
    padding: 55px 25px 0;
    white-space: nowrap;
    text-transform: none;

    @include tablet-first {
      padding: 35px 15px 0;
    } 
  }

  a:hover {
    color: color(btn-one);
  }

  .exit-btn {
    @include mobile-first {
      display: block;
      margin-bottom: 1em;
      margin-top: -1.3em;
      text-align: right;
      padding: 0 1.4em;

      img {
        @include mobile-first {
        width: 15px;
        cursor: pointer;
        }
      }
    }
  }
}

/* Price Offers & Media
-----------------------------*/ 
.media {
  text-align: left;
  margin-top: 146px;
  
  @include desktop-third {
    margin-top: 80px;
  } 

  @include tablet-first {
    margin-top: 40px;
  } 

  .page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: color(primary);

    @include tablet-second {
      flex-direction: column-reverse;
      text-align: center;
    } 

    .offer,
    .playback {
      width: calc(50% - 131px);

      @include desktop-fourth {
        width: calc(50% - 50px);
      } 

      @include tablet-first {
        width: calc(50% - 35px);
      }

      @include tablet-second {
        width: calc(90% - 20px);
      } 

      @include mobile-third {
        width: 100%;
      } 
    }

    .offer {

      h1 {
        font-size: 55px;
        font-weight: weight(extra-bold);
        line-height: 65px;
        text-transform: uppercase;

        @include desktop-second {
          font-size: 2.7em;
          line-height: 50px;
        }    
        
        @include mobile-second {
          font-size: 2.3em;
          line-height: 35px;
        }
      }

      p {
        font-size: 18px;
        line-height: 35px;
        padding: 5px 0 32px;

        @include desktop-second {
          font-size: 1.2em;
          line-height: 30px;
        }

        @include tablet-first {
          font-size: 1.1em;
        } 

        @include mobile-second {
          font-size: 1em;
          line-height: 25px;
          padding: 5px 0 15px;
        } 
      }

      a {
        display: inline-block;
        width: 160px;
        background: color(btn-one);
        border-radius: 5px;
        text-align: center;
        font-weight: weight(bold);
        padding: 15px 0;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

        @include mobile-fourth {
          width: 80%;
        }
      }

      a + a {
        background: color(primary);
        color: color(btn-one);
        margin-left: 26px;

        @include mobile-fourth {
          margin-top: 10px;
          margin-left: 0;
        }
      }

      .btn-block {
        @include mobile-fourth {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
      }
    }

    // media playback
    .playback {
      position: relative;
      text-align: center;

      @include tablet-second {
        margin-bottom: 20px;
      } 

      @include mobile-second {
        margin-bottom: 10px;
      } 

      img {
        border: 1px solid color(btn-one);
        border-radius: 5px;
      }

      a {
        position: absolute;
        top: calc(50% - 44px);
        right: 0;
        bottom: 0;
        left: 0;
        color: color(btn-one);
        font-size: 12px;
        font-weight: weight(bold);

        img {
          margin-bottom: 13px;
          border-radius: 5px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

          @include desktop-fourth() {
            width: 4em;
          } 

          @include tablet-second {
            width: 5em;
          } 
        }
      }
    }
  }
}

/* Useful Tools
-----------------------------*/
.useful-tools {
  text-align: center;
  color: color(text);

  .page {
    display: flex;
    align-items: center;
    flex-direction: column;

    h3 + div {
      font-size: 25px;
      font-weight: weight(semi-bold);
    }

    // bottom button
    a {
      width: 150px;
      font-weight: weight(bold);
      padding: 15px 0; 
      margin: 74px 0 100px;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      background: color(btn-two);

      @include tablet-first {
        margin: 37px 0 50px;
      }
      
      @include mobile-second {
        margin: 12px 0 25px;
      }
    }
  } 
}

// advantage list
.adv-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet-third {
    flex-direction: column;
  } 

  // each advantage
  .advantages {
    width: 24%;

    @include tablet-third {
      width: 70%;
    } 

    @include mobile-second {
      width: 90%;
    } 

    .img-wrap {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .adv-title {
      font-size: 20px;
      font-weight: weight(semi-bold);
      color: color(btn-one);
      padding: 35px 0 8px;

      @include tablet-third {
        padding: 0 0 2px;
      }
    }
  }

  .advantages:nth-child(2) {

    @include tablet-third {
      margin: 14px 0;
    }
  }
}

/* Number of customers
-----------------------------*/
.customer-num {
  display: flex;

  @include mobile-fourth {
    flex-direction: column;
  }

  .first-part,
  .second-part {
    width: 50%;
    display: flex;

    @include customer-mark {
      flex-direction: column;
    }

    @include mobile-fourth {
      width: 100%;
    }

    .businnes-num,
    .donwload-num,
    .install-num,
    .pro-user-num {
    width: 50%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: weight(extra-bold);
    color: color(primary);

    @include tablet-second {
      height: 95px;
    }

    @include customer-mark {
      width: 100%;
      justify-content: flex-start;
      padding: 0 10%;
    }

    img + div {
      margin-left: 24px;

      @include tablet-second {
        margin-left: 12px;
      }

      @include mobile-fourth {
        margin-left: 30px;
      }
    }
  }

    .businnes-num {
      background: #80d8ff;
    }
    .donwload-num {
      background: #82b1ff;
    }
    .install-num {
      background: #b388ff;
    }
    .pro-user-num {
      background: #ea80fc;
    }
  }
}

/* Services
-----------------------------*/
.services {
  text-align: center;
  color: color(text);

  .reduced-page {
    padding-bottom: 80px;

    @include mobile-second {
      padding-bottom: 30px;
    }

    // service item
    .service-item {
      width: 100%;
      color: color(btn-one);
      padding: 0 25px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
      border-radius: 5px;
      margin-bottom: 20px;

      // item's head
      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 0 9px;
  
        .head-items {
          display: flex;
          align-items: center;

          img {
            margin-right: 25px;
          }

          div {
            font-weight: weight(bold);
          }
        }
      }
      
      // item description
      .item-description {
        display: none;
        text-align: left;
        letter-spacing: 30;
        margin-top: 8px;

        img {
          display: block;
          margin-bottom: 25px;
          margin-right: 25px;
          border-radius: 5px;

          @include mobile-first {
            width: 65%;
            margin-bottom: 10px;
          }

          @include mobile-second {
            width: 85%;
            margin-bottom: 10px;
          }
        }

        p {
          @include mobile-third {
            font-size: .9em;
          }
        }
      }
    }

    // when item is opened
    .open {
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

      .item-description {
        display: flex;
        align-items: flex-start;

        @include mobile-first {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

/* Customer Feedback
-----------------------------*/
.cus-feedback {
  text-align: left;
  background: url(../images/customer-feed-bg.jpg) center center / cover no-repeat;;

  .page {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: black;

    @include tablet-first {
      align-items: center;
    }

    @include tablet-third {
      flex-direction: column;
      text-align: center;
    }

    // get started block
    .get-started {
      width: calc(42% - 83px);
      color: color(primary);
      font-weight: weight(semi-bold);

      @include tablet-first {
        width: calc(42% - 20px);
      }

      @include tablet-third {
        width: 80%;
        margin-top: 25px;
      }

      @include mobile-third {
        width: 100%;
        margin-top: 15px;
      }

      h2 {
        font-size: 45px;
        line-height: 55px;
        padding: 122px 0 12px;

        @include tablet-first {
          font-size: 2.4em;
          line-height: 35px;
          padding: 0 0 12px;
        }
      }

      a {
        display: inline-block;
        width: 160px;
        margin-top: 78px;
        background: color(btn-one);
        border-radius: 5px;
        text-align: center;
        font-weight: weight(bold);
        padding: 15px 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

        @include tablet-first {
          margin-top: 22px;
        }

        @include tablet-first {
          margin-top: 11px;
        }
      }
    }

    // customer quotes
    .cus-quote {
      width: calc(58% - 83px);
      padding: 88px 0 18px;

      @include tablet-first {
        width: calc(58% - 20px);
        padding: 20px 0 0;
      }

      @include tablet-third {
        width: 100%;
      }

      figure {
        display: flex;
        align-items: center;
        justify-content: space-between;        
        margin-bottom: 70px;

        @include tablet-first {
          margin-bottom: 20px;
          flex-direction: column;
        }

        img {
          width: calc(11% - 25px);
          border-radius: 50%;

          @include desktop-fourth {
            width: calc(16% - 25px);
          } 

          @include tablet-first {
            margin-bottom: 20px;
            width: 14%;
          }

        }

        div {
          width: calc(89% - 25px);
          background: color(primary);
          border-radius: 5px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          padding: 25px 30px;

          @include desktop-fourth {
            width: calc(84% - 25px);
          }
          
          @include tablet-first {
            width: 89%;
            padding: 15px 20px;
          }

          @include mobile-third {
            width: 100%;
            padding: 8px 10px;
          }

          figcaption {
            font-size: 18px;
            font-weight: weight(bold);
            color: color(btn-one);
            margin-bottom: 6px;
          }

          blockquote {
            color: color(text);
            text-align: left;
            font-style: italic;
          }
        }
      }
    }
  }
}

/* Team
-----------------------------*/
.team {
  text-align: center;
  color: color(text);

  .reduced-page {
    padding-bottom: 90px;

    @include tablet-first {
      padding-bottom: 45px;
    }

    @include mobile-second {
      padding-bottom: 22px;
    }

    .team-profile {
      display: flex;
      flex-direction: column;
      align-items: center;

      .member-photo {
        width: 58%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile-second {
          width: 85%;
        }
      }

      .member-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 55px 0 25px;

        @include tablet-first {
          margin: 20px 0;
        }

        @include mobile-second {
          margin: 10px 0;
        }

        div {
          font-size: 18px;
          font-weight: weight(bold);
          color: color(btn-one);
          padding-bottom: 6px;
        }

        p {
          width: 80%;

          @include mobile-third {
            width: 100%;
          }          
        }
      }

      .social-media {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile-third {
          width: 45%;
        } 

        a {
          height: 20px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

/* Contact Us
-----------------------------*/
.contact-us {
  background: #fafafa;
  text-align: center;

  .reduced-page {
    padding-bottom: 100px;

    @include tablet-first {
      padding-bottom: 50px;
    }

    @include mobile-second {
      padding-bottom: 25px;
    }

    h3 {
      padding: 43px 0 2px;

      @include mobile-second {
        padding: 15px 0 0;
      }
    }

    p {
      padding-bottom: 44px;

      @include tablet-first {
        padding-bottom: 22px;
      }
    }

    // message form
    .msg-form {
      width: 100%;

      .full-name,
      .contact-info {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include mobile-third() {
          flex-direction: column;
        }
      }

      .contact-info {
        margin: 20px 0;

        @include mobile-third() {
          margin: 0;
        }
      }

      input[type=text] {
        width: calc(50% - 20px);
        height: 50px;
        color: color(btn-one);
        border: 1px solid color(btn-one);
        padding: 0 19px;

        @include mobile-third{
          width: 100%;
          margin: 5px 0;
        }
      }

      textarea {
        width: 100%;
        height: 150px;
        border: 1px solid color(btn-one);
        padding: 9px 19px 19px;
        resize: none;

        @include mobile-third {
          margin-top: 5px;
        }
      }

      .submit {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 12px;

        @include mobile-fourth {
          flex-direction: column;
          align-items: center;
        }

        .check {
          display: flex;
          align-items: center;

          input[type=checkbox] {
            width: 16px;
            height: 16px;
            margin-right: 8px;
          }

          div {
            font-weight: weight(medium);
          }
        }
         
        button {
          width: 130px;
          background: color(btn-two);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          border-radius: 5px;
          color: color(primary);
          font-size: 16px;
          font-weight: weight(medium);
          text-transform: uppercase;
          padding: 10px 0;

          @include mobile-fourth {
            width: 100%;
          }
        }
      }
    }
  }
}

/* Footer
-----------------------------*/
footer {
  background: color(btn-one);

  .page {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
    justify-content: space-between;
    flex-direction: column;
    padding: 97px 0;

    @include desktop-first {
      padding: 45px 0;
    }

    @include mobile-second() {
      padding: 20px 0;
    }

    // footer navigation
    .footer-nav {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include mobile-first {
        flex-direction: column;
      }

      @include mobile-second {
        align-items: center;
      }

      @include mobile-fifth {
        align-items: flex-start;
      }

      .logo {
        display: flex;
        align-items: center;

        img {
          flex-shrink: 0;
        }

        .logo-name {
          line-height: 15px; // pay attention
          margin-left: 10px;
        }

        div + div {
          font-weight: weight(extra-bold);
        }
      }
      
      // navigation links   
      .nav-links {
        display: flex;
        width: 31%;
        justify-content: space-between;

        @include tablet-second {
          width: 40%;
        }
        
        @include mobile-first {
          width: 50%;
        }

        @include mobile-second {
          width: 80%;
          margin-top: 5px;
        }

        @include mobile-fifth {
          width: 100%;
        }

        a {
          text-transform: none;
        }

        a:hover {
          color: color(btn-two);
        }
      }
    }

    .bottom-block {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 42px;

      @include desktop-first {
        margin-top: 20px;
      }

      @include mobile-first {
        flex-direction: column;
      }

      @include mobile-second {
        align-items: center;
      }

      @include mobile-fifth {
        align-items: flex-start;
      }

      .add-links {
        width: 22%;
        display: flex;
        justify-content: space-between;

        @include tablet-first {
          width: 27%;
        }

        @include mobile-first {
          width: 40%;
        }

        @include mobile-second {
          width: 65%;
          margin-bottom: 5px;
        }       

        a {
          text-transform: none;
          color: color(text);
        }

        a:hover {
          color: color(btn-two);
        }

        .second-link:before {
          position: absolute;
          width: 6px;
          height: 6px;
          left: 0;
          top: calc(50% - 4px);
          content: "";
          border-radius: 50%;
          background: color(primary);

          @include tablet-first {
            visibility: hidden;
          }
        }

        .second-link {
          position: relative;
          padding: 0 25px;

          @include desktop-first {
            padding: 0 20px;
          }

          @include desktop-second {
            padding: 0 15px;
          }

          @include desktop-third {
            padding: 0 10px;
          }
        }

        .second-link:after {
          position: absolute;
          width: 6px;
          height: 6px;
          right: 0;
          top: calc(50% - 4px);
          content: "";
          border-radius: 50%;
          background: color(primary);

          @include tablet-first {
            visibility: hidden;
          }
        }
      }

      .footer-soc-media {
        width: 12%;
        display: flex;
        justify-content: space-between;

        @include tablet-first {
          width: 16%;
        }

        @include mobile-first {
          width: 25%;
        }

        @include mobile-second {
          width: 35%;
        }

        @include mobile-fifth {
          width: 50%;
        }

        a {
          height: 18px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}