@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800|Roboto&display=swap");
/* Font Weights */
/* Colors */
/* Adaptive */
/* Global styles
-----------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  outline: 0;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: #000;
  color: #fff;
}

*::selection {
  background-color: #000;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: сolor(text);
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #ffffff;
  min-height: 100%;
}

body *::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background-color: transparent;
}

body *::-webkit-scrollbar-thumb {
  width: 3px;
  height: 3px;
  background: #615c60;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

input,
textarea,
button,
select {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: сolor(text);
  font-weight: 500;
  line-height: 30px;
  border-radius: 5px;
  background: none;
}

::-webkit-input-placeholder {
  color: #061e37;
}

:-ms-input-placeholder {
  color: #061e37;
}

::-ms-input-placeholder {
  color: #061e37;
}

::placeholder {
  color: #061e37;
}

button {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

h3 {
  font-size: 45px;
  font-weight: 600;
  line-height: 45px;
  color: #061e37;
  padding: 93px 0 17px;
}

@media (max-width: 1100px) {
  h3 {
    padding: 45px 0 8px;
  }
}

@media (max-width: 550px) {
  h3 {
    font-size: 2em;
    padding: 15px 0 0;
  }
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.page {
  width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}

.reduced-page {
  width: 840px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 100%;
}

.block-intro {
  width: 558px;
  max-width: 100%;
  padding: 15px 0 86px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .block-intro {
    padding: 10px 0 43px;
  }
}

@media (max-width: 800px) {
  .block-intro {
    padding: 10px 0 6px;
  }
}

@media (max-width: 550px) {
  .block-intro {
    padding: 0;
  }
}

/* Header
-----------------------------*/
.nav-media-block {
  background: url(../images/main-bg.jpg) center center/cover no-repeat;
  padding-bottom: 187px;
}

@media (max-width: 1200px) {
  .nav-media-block {
    padding-bottom: 100px;
  }
}

@media (max-width: 950px) {
  .nav-media-block {
    padding-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .nav-media-block {
    padding-bottom: 25px;
  }
}

header .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  white-space: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 720px) {
  header .page {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
  }
}

header .page .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .page .logo img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 950px) {
  header .page .logo img {
    margin-bottom: 10px;
  }
}

@media (max-width: 720px) {
  header .page .logo img {
    margin-bottom: 0;
  }
}

header .page .logo .logo-name {
  line-height: 15px;
  margin-left: 10px;
}

header .page .logo .logo-name div + div {
  font-weight: 800;
}

header .page .sign-up-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .page .sign-up-wrap .hide-desktop {
  display: none;
}

@media (max-width: 720px) {
  header .page .sign-up-wrap .show-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
  }
}

header .page .sign-up-wrap .sign-up {
  font-size: 12px;
  text-transform: lowercase;
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 2px 18px;
}

@media (max-width: 360px) {
  header .page .sign-up-wrap .sign-up {
    padding: 0 9px;
  }
}

header .page .sign-up-wrap .sign-up:hover {
  color: #061e37;
  border-color: #061e37;
}

@media (max-width: 720px) {
  header .page #nav.hide-mobile {
    display: none;
  }
}

@media (max-width: 720px) {
  header .page #nav {
    display: block;
    position: fixed;
    width: 40%;
    top: 0;
    right: 0;
    text-align: left;
    background: #24292c;
    height: 100%;
    z-index: 7;
    padding-top: 3em;
  }
}

@media (max-width: 720px) {
  header .page #nav a {
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 1em 2em;
    background-color: #31373b;
  }
}

@media (max-width: 720px) {
  header .page #nav a:hover {
    background-color: #41494e;
  }
}

/* Navigation
-----------------------------*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .hide-desktop {
  display: none;
}

nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  padding: 55px 25px 0;
  white-space: nowrap;
  text-transform: none;
}

@media (max-width: 950px) {
  nav a {
    padding: 35px 15px 0;
  }
}

nav a:hover {
  color: #061e37;
}

@media (max-width: 720px) {
  nav .exit-btn {
    display: block;
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
  }
}

@media (max-width: 720px) and (max-width: 720px) {
  nav .exit-btn img {
    width: 15px;
    cursor: pointer;
  }
}

/* Price Offers & Media
-----------------------------*/
.media {
  text-align: left;
  margin-top: 146px;
}

@media (max-width: 1200px) {
  .media {
    margin-top: 80px;
  }
}

@media (max-width: 950px) {
  .media {
    margin-top: 40px;
  }
}

.media .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

@media (max-width: 850px) {
  .media .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

.media .page .offer,
.media .page .playback {
  width: calc(50% - 131px);
}

@media (max-width: 1100px) {
  .media .page .offer,
  .media .page .playback {
    width: calc(50% - 50px);
  }
}

@media (max-width: 950px) {
  .media .page .offer,
  .media .page .playback {
    width: calc(50% - 35px);
  }
}

@media (max-width: 850px) {
  .media .page .offer,
  .media .page .playback {
    width: calc(90% - 20px);
  }
}

@media (max-width: 500px) {
  .media .page .offer,
  .media .page .playback {
    width: 100%;
  }
}

.media .page .offer h1 {
  font-size: 55px;
  font-weight: 800;
  line-height: 65px;
  text-transform: uppercase;
}

@media (max-width: 1250px) {
  .media .page .offer h1 {
    font-size: 2.7em;
    line-height: 50px;
  }
}

@media (max-width: 550px) {
  .media .page .offer h1 {
    font-size: 2.3em;
    line-height: 35px;
  }
}

.media .page .offer p {
  font-size: 18px;
  line-height: 35px;
  padding: 5px 0 32px;
}

@media (max-width: 1250px) {
  .media .page .offer p {
    font-size: 1.2em;
    line-height: 30px;
  }
}

@media (max-width: 950px) {
  .media .page .offer p {
    font-size: 1.1em;
  }
}

@media (max-width: 550px) {
  .media .page .offer p {
    font-size: 1em;
    line-height: 25px;
    padding: 5px 0 15px;
  }
}

.media .page .offer a {
  display: inline-block;
  width: 160px;
  background: #061e37;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  padding: 15px 0;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}

@media (max-width: 415px) {
  .media .page .offer a {
    width: 80%;
  }
}

.media .page .offer a + a {
  background: #ffffff;
  color: #061e37;
  margin-left: 26px;
}

@media (max-width: 415px) {
  .media .page .offer a + a {
    margin-top: 10px;
    margin-left: 0;
  }
}

@media (max-width: 415px) {
  .media .page .offer .btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.media .page .playback {
  position: relative;
  text-align: center;
}

@media (max-width: 850px) {
  .media .page .playback {
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  .media .page .playback {
    margin-bottom: 10px;
  }
}

.media .page .playback img {
  border: 1px solid #061e37;
  border-radius: 5px;
}

.media .page .playback a {
  position: absolute;
  top: calc(50% - 44px);
  right: 0;
  bottom: 0;
  left: 0;
  color: #061e37;
  font-size: 12px;
  font-weight: 700;
}

.media .page .playback a img {
  margin-bottom: 13px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1100px) {
  .media .page .playback a img {
    width: 4em;
  }
}

@media (max-width: 850px) {
  .media .page .playback a img {
    width: 5em;
  }
}

/* Useful Tools
-----------------------------*/
.useful-tools {
  text-align: center;
  color: #b0bec5;
}

.useful-tools .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.useful-tools .page h3 + div {
  font-size: 25px;
  font-weight: 600;
}

.useful-tools .page a {
  width: 150px;
  font-weight: 700;
  padding: 15px 0;
  margin: 74px 0 100px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background: #1de9b6;
}

@media (max-width: 950px) {
  .useful-tools .page a {
    margin: 37px 0 50px;
  }
}

@media (max-width: 550px) {
  .useful-tools .page a {
    margin: 12px 0 25px;
  }
}

.adv-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 800px) {
  .adv-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.adv-list .advantages {
  width: 24%;
}

@media (max-width: 800px) {
  .adv-list .advantages {
    width: 70%;
  }
}

@media (max-width: 550px) {
  .adv-list .advantages {
    width: 90%;
  }
}

.adv-list .advantages .img-wrap {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adv-list .advantages .adv-title {
  font-size: 20px;
  font-weight: 600;
  color: #061e37;
  padding: 35px 0 8px;
}

@media (max-width: 800px) {
  .adv-list .advantages .adv-title {
    padding: 0 0 2px;
  }
}

@media (max-width: 800px) {
  .adv-list .advantages:nth-child(2) {
    margin: 14px 0;
  }
}

/* Number of customers
-----------------------------*/
.customer-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 415px) {
  .customer-num {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.customer-num .first-part,
.customer-num .second-part {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 740px) {
  .customer-num .first-part,
  .customer-num .second-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 415px) {
  .customer-num .first-part,
  .customer-num .second-part {
    width: 100%;
  }
}

.customer-num .first-part .businnes-num,
.customer-num .first-part .donwload-num,
.customer-num .first-part .install-num,
.customer-num .first-part .pro-user-num,
.customer-num .second-part .businnes-num,
.customer-num .second-part .donwload-num,
.customer-num .second-part .install-num,
.customer-num .second-part .pro-user-num {
  width: 50%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
}

@media (max-width: 850px) {
  .customer-num .first-part .businnes-num,
  .customer-num .first-part .donwload-num,
  .customer-num .first-part .install-num,
  .customer-num .first-part .pro-user-num,
  .customer-num .second-part .businnes-num,
  .customer-num .second-part .donwload-num,
  .customer-num .second-part .install-num,
  .customer-num .second-part .pro-user-num {
    height: 95px;
  }
}

@media (max-width: 740px) {
  .customer-num .first-part .businnes-num,
  .customer-num .first-part .donwload-num,
  .customer-num .first-part .install-num,
  .customer-num .first-part .pro-user-num,
  .customer-num .second-part .businnes-num,
  .customer-num .second-part .donwload-num,
  .customer-num .second-part .install-num,
  .customer-num .second-part .pro-user-num {
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 10%;
  }
}

.customer-num .first-part .businnes-num img + div,
.customer-num .first-part .donwload-num img + div,
.customer-num .first-part .install-num img + div,
.customer-num .first-part .pro-user-num img + div,
.customer-num .second-part .businnes-num img + div,
.customer-num .second-part .donwload-num img + div,
.customer-num .second-part .install-num img + div,
.customer-num .second-part .pro-user-num img + div {
  margin-left: 24px;
}

@media (max-width: 850px) {
  .customer-num .first-part .businnes-num img + div,
  .customer-num .first-part .donwload-num img + div,
  .customer-num .first-part .install-num img + div,
  .customer-num .first-part .pro-user-num img + div,
  .customer-num .second-part .businnes-num img + div,
  .customer-num .second-part .donwload-num img + div,
  .customer-num .second-part .install-num img + div,
  .customer-num .second-part .pro-user-num img + div {
    margin-left: 12px;
  }
}

@media (max-width: 415px) {
  .customer-num .first-part .businnes-num img + div,
  .customer-num .first-part .donwload-num img + div,
  .customer-num .first-part .install-num img + div,
  .customer-num .first-part .pro-user-num img + div,
  .customer-num .second-part .businnes-num img + div,
  .customer-num .second-part .donwload-num img + div,
  .customer-num .second-part .install-num img + div,
  .customer-num .second-part .pro-user-num img + div {
    margin-left: 30px;
  }
}

.customer-num .first-part .businnes-num,
.customer-num .second-part .businnes-num {
  background: #80d8ff;
}

.customer-num .first-part .donwload-num,
.customer-num .second-part .donwload-num {
  background: #82b1ff;
}

.customer-num .first-part .install-num,
.customer-num .second-part .install-num {
  background: #b388ff;
}

.customer-num .first-part .pro-user-num,
.customer-num .second-part .pro-user-num {
  background: #ea80fc;
}

/* Services
-----------------------------*/
.services {
  text-align: center;
  color: #b0bec5;
}

.services .reduced-page {
  padding-bottom: 80px;
}

@media (max-width: 550px) {
  .services .reduced-page {
    padding-bottom: 30px;
  }
}

.services .reduced-page .service-item {
  width: 100%;
  color: #061e37;
  padding: 0 25px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  margin-bottom: 20px;
}

.services .reduced-page .service-item .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 0 9px;
}

.services .reduced-page .service-item .head .head-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .reduced-page .service-item .head .head-items img {
  margin-right: 25px;
}

.services .reduced-page .service-item .head .head-items div {
  font-weight: 700;
}

.services .reduced-page .service-item .item-description {
  display: none;
  text-align: left;
  letter-spacing: 30;
  margin-top: 8px;
}

.services .reduced-page .service-item .item-description img {
  display: block;
  margin-bottom: 25px;
  margin-right: 25px;
  border-radius: 5px;
}

@media (max-width: 720px) {
  .services .reduced-page .service-item .item-description img {
    width: 65%;
    margin-bottom: 10px;
  }
}

@media (max-width: 550px) {
  .services .reduced-page .service-item .item-description img {
    width: 85%;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .services .reduced-page .service-item .item-description p {
    font-size: .9em;
  }
}

.services .reduced-page .open {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.services .reduced-page .open .item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 720px) {
  .services .reduced-page .open .item-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* Customer Feedback
-----------------------------*/
.cus-feedback {
  text-align: left;
  background: url(../images/customer-feed-bg.jpg) center center/cover no-repeat;
}

.cus-feedback .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}

@media (max-width: 950px) {
  .cus-feedback .page {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 800px) {
  .cus-feedback .page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.cus-feedback .page .get-started {
  width: calc(42% - 83px);
  color: #ffffff;
  font-weight: 600;
}

@media (max-width: 950px) {
  .cus-feedback .page .get-started {
    width: calc(42% - 20px);
  }
}

@media (max-width: 800px) {
  .cus-feedback .page .get-started {
    width: 80%;
    margin-top: 25px;
  }
}

@media (max-width: 500px) {
  .cus-feedback .page .get-started {
    width: 100%;
    margin-top: 15px;
  }
}

.cus-feedback .page .get-started h2 {
  font-size: 45px;
  line-height: 55px;
  padding: 122px 0 12px;
}

@media (max-width: 950px) {
  .cus-feedback .page .get-started h2 {
    font-size: 2.4em;
    line-height: 35px;
    padding: 0 0 12px;
  }
}

.cus-feedback .page .get-started a {
  display: inline-block;
  width: 160px;
  margin-top: 78px;
  background: #061e37;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  padding: 15px 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 950px) {
  .cus-feedback .page .get-started a {
    margin-top: 22px;
  }
}

@media (max-width: 950px) {
  .cus-feedback .page .get-started a {
    margin-top: 11px;
  }
}

.cus-feedback .page .cus-quote {
  width: calc(58% - 83px);
  padding: 88px 0 18px;
}

@media (max-width: 950px) {
  .cus-feedback .page .cus-quote {
    width: calc(58% - 20px);
    padding: 20px 0 0;
  }
}

@media (max-width: 800px) {
  .cus-feedback .page .cus-quote {
    width: 100%;
  }
}

.cus-feedback .page .cus-quote figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

@media (max-width: 950px) {
  .cus-feedback .page .cus-quote figure {
    margin-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cus-feedback .page .cus-quote figure img {
  width: calc(11% - 25px);
  border-radius: 50%;
}

@media (max-width: 1100px) {
  .cus-feedback .page .cus-quote figure img {
    width: calc(16% - 25px);
  }
}

@media (max-width: 950px) {
  .cus-feedback .page .cus-quote figure img {
    margin-bottom: 20px;
    width: 14%;
  }
}

.cus-feedback .page .cus-quote figure div {
  width: calc(89% - 25px);
  background: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  padding: 25px 30px;
}

@media (max-width: 1100px) {
  .cus-feedback .page .cus-quote figure div {
    width: calc(84% - 25px);
  }
}

@media (max-width: 950px) {
  .cus-feedback .page .cus-quote figure div {
    width: 89%;
    padding: 15px 20px;
  }
}

@media (max-width: 500px) {
  .cus-feedback .page .cus-quote figure div {
    width: 100%;
    padding: 8px 10px;
  }
}

.cus-feedback .page .cus-quote figure div figcaption {
  font-size: 18px;
  font-weight: 700;
  color: #061e37;
  margin-bottom: 6px;
}

.cus-feedback .page .cus-quote figure div blockquote {
  color: #b0bec5;
  text-align: left;
  font-style: italic;
}

/* Team
-----------------------------*/
.team {
  text-align: center;
  color: #b0bec5;
}

.team .reduced-page {
  padding-bottom: 90px;
}

@media (max-width: 950px) {
  .team .reduced-page {
    padding-bottom: 45px;
  }
}

@media (max-width: 550px) {
  .team .reduced-page {
    padding-bottom: 22px;
  }
}

.team .reduced-page .team-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team .reduced-page .team-profile .member-photo {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 550px) {
  .team .reduced-page .team-profile .member-photo {
    width: 85%;
  }
}

.team .reduced-page .team-profile .member-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 55px 0 25px;
}

@media (max-width: 950px) {
  .team .reduced-page .team-profile .member-info {
    margin: 20px 0;
  }
}

@media (max-width: 550px) {
  .team .reduced-page .team-profile .member-info {
    margin: 10px 0;
  }
}

.team .reduced-page .team-profile .member-info div {
  font-size: 18px;
  font-weight: 700;
  color: #061e37;
  padding-bottom: 6px;
}

.team .reduced-page .team-profile .member-info p {
  width: 80%;
}

@media (max-width: 500px) {
  .team .reduced-page .team-profile .member-info p {
    width: 100%;
  }
}

.team .reduced-page .team-profile .social-media {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .team .reduced-page .team-profile .social-media {
    width: 45%;
  }
}

.team .reduced-page .team-profile .social-media a {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Contact Us
-----------------------------*/
.contact-us {
  background: #fafafa;
  text-align: center;
}

.contact-us .reduced-page {
  padding-bottom: 100px;
}

@media (max-width: 950px) {
  .contact-us .reduced-page {
    padding-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .contact-us .reduced-page {
    padding-bottom: 25px;
  }
}

.contact-us .reduced-page h3 {
  padding: 43px 0 2px;
}

@media (max-width: 550px) {
  .contact-us .reduced-page h3 {
    padding: 15px 0 0;
  }
}

.contact-us .reduced-page p {
  padding-bottom: 44px;
}

@media (max-width: 950px) {
  .contact-us .reduced-page p {
    padding-bottom: 22px;
  }
}

.contact-us .reduced-page .msg-form {
  width: 100%;
}

.contact-us .reduced-page .msg-form .full-name,
.contact-us .reduced-page .msg-form .contact-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .contact-us .reduced-page .msg-form .full-name,
  .contact-us .reduced-page .msg-form .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-us .reduced-page .msg-form .contact-info {
  margin: 20px 0;
}

@media (max-width: 500px) {
  .contact-us .reduced-page .msg-form .contact-info {
    margin: 0;
  }
}

.contact-us .reduced-page .msg-form input[type=text] {
  width: calc(50% - 20px);
  height: 50px;
  color: #061e37;
  border: 1px solid #061e37;
  padding: 0 19px;
}

@media (max-width: 500px) {
  .contact-us .reduced-page .msg-form input[type=text] {
    width: 100%;
    margin: 5px 0;
  }
}

.contact-us .reduced-page .msg-form textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #061e37;
  padding: 9px 19px 19px;
  resize: none;
}

@media (max-width: 500px) {
  .contact-us .reduced-page .msg-form textarea {
    margin-top: 5px;
  }
}

.contact-us .reduced-page .msg-form .submit {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
}

@media (max-width: 415px) {
  .contact-us .reduced-page .msg-form .submit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-us .reduced-page .msg-form .submit .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us .reduced-page .msg-form .submit .check input[type=checkbox] {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.contact-us .reduced-page .msg-form .submit .check div {
  font-weight: 500;
}

.contact-us .reduced-page .msg-form .submit button {
  width: 130px;
  background: #1de9b6;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 0;
}

@media (max-width: 415px) {
  .contact-us .reduced-page .msg-form .submit button {
    width: 100%;
  }
}

/* Footer
-----------------------------*/
footer {
  background: #061e37;
}

footer .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  white-space: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 97px 0;
}

@media (max-width: 1370px) {
  footer .page {
    padding: 45px 0;
  }
}

@media (max-width: 550px) {
  footer .page {
    padding: 20px 0;
  }
}

footer .page .footer-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 720px) {
  footer .page .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 550px) {
  footer .page .footer-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 360px) {
  footer .page .footer-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

footer .page .footer-nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .page .footer-nav .logo img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

footer .page .footer-nav .logo .logo-name {
  line-height: 15px;
  margin-left: 10px;
}

footer .page .footer-nav .logo div + div {
  font-weight: 800;
}

footer .page .footer-nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 850px) {
  footer .page .footer-nav .nav-links {
    width: 40%;
  }
}

@media (max-width: 720px) {
  footer .page .footer-nav .nav-links {
    width: 50%;
  }
}

@media (max-width: 550px) {
  footer .page .footer-nav .nav-links {
    width: 80%;
    margin-top: 5px;
  }
}

@media (max-width: 360px) {
  footer .page .footer-nav .nav-links {
    width: 100%;
  }
}

footer .page .footer-nav .nav-links a {
  text-transform: none;
}

footer .page .footer-nav .nav-links a:hover {
  color: #1de9b6;
}

footer .page .bottom-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 42px;
}

@media (max-width: 1370px) {
  footer .page .bottom-block {
    margin-top: 20px;
  }
}

@media (max-width: 720px) {
  footer .page .bottom-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 550px) {
  footer .page .bottom-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 360px) {
  footer .page .bottom-block {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

footer .page .bottom-block .add-links {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 950px) {
  footer .page .bottom-block .add-links {
    width: 27%;
  }
}

@media (max-width: 720px) {
  footer .page .bottom-block .add-links {
    width: 40%;
  }
}

@media (max-width: 550px) {
  footer .page .bottom-block .add-links {
    width: 65%;
    margin-bottom: 5px;
  }
}

footer .page .bottom-block .add-links a {
  text-transform: none;
  color: #b0bec5;
}

footer .page .bottom-block .add-links a:hover {
  color: #1de9b6;
}

footer .page .bottom-block .add-links .second-link:before {
  position: absolute;
  width: 6px;
  height: 6px;
  left: 0;
  top: calc(50% - 4px);
  content: "";
  border-radius: 50%;
  background: #ffffff;
}

@media (max-width: 950px) {
  footer .page .bottom-block .add-links .second-link:before {
    visibility: hidden;
  }
}

footer .page .bottom-block .add-links .second-link {
  position: relative;
  padding: 0 25px;
}

@media (max-width: 1370px) {
  footer .page .bottom-block .add-links .second-link {
    padding: 0 20px;
  }
}

@media (max-width: 1250px) {
  footer .page .bottom-block .add-links .second-link {
    padding: 0 15px;
  }
}

@media (max-width: 1200px) {
  footer .page .bottom-block .add-links .second-link {
    padding: 0 10px;
  }
}

footer .page .bottom-block .add-links .second-link:after {
  position: absolute;
  width: 6px;
  height: 6px;
  right: 0;
  top: calc(50% - 4px);
  content: "";
  border-radius: 50%;
  background: #ffffff;
}

@media (max-width: 950px) {
  footer .page .bottom-block .add-links .second-link:after {
    visibility: hidden;
  }
}

footer .page .bottom-block .footer-soc-media {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 950px) {
  footer .page .bottom-block .footer-soc-media {
    width: 16%;
  }
}

@media (max-width: 720px) {
  footer .page .bottom-block .footer-soc-media {
    width: 25%;
  }
}

@media (max-width: 550px) {
  footer .page .bottom-block .footer-soc-media {
    width: 35%;
  }
}

@media (max-width: 360px) {
  footer .page .bottom-block .footer-soc-media {
    width: 50%;
  }
}

footer .page .bottom-block .footer-soc-media a {
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */